html body {
  font-family: "Lato", sans-serif !important; }

nav.navbar-default {
  background: none;
  border: none; }
  nav.navbar-default .navbar-brand {
    height: 70px; }
  nav.navbar-default .navbar-toggle {
    display: block;
    background: rgba(206, 22, 34, 0.4);
    border: 1px solid #fff;
    margin-top: 20px;
    transition: all .8s;
    -webkit-transition: all .8s; }
    nav.navbar-default .navbar-toggle:hover {
      background: rgba(206, 22, 34, 0.9); }
    nav.navbar-default .navbar-toggle:focus {
      background: rgba(206, 22, 34, 0.9); }
    nav.navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
nav.top-nav-collapse {
  background: rgba(0, 0, 0, 0.9); }
nav .tagline {
  color: #fff;
  font-style: italic;
  margin-top: 24px;
  font-size: 16px;
  display: none; }
  @media (min-width: 768px) {
    nav .tagline {
      margin-top: 20px;
      display: block; } }
  @media (min-width: 992px) {
    nav .tagline {
      margin-top: 18px; } }
  @media (min-width: 1200px) {
    nav .tagline {
      margin-top: 24px; } }

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative; }
  #header h2 {
    font-weight: 300;
    color: #fff;
    font-size: 40px; }
    @media (min-width: 768px) {
      #header h2 {
        font-size: 52px; } }
    #header h2 strong {
      font-weight: 400; }
  #header #banner-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0; }
    #header #banner-text button {
      background: rgba(206, 22, 34, 0.4);
      border-radius: 30px;
      border: 1px solid #fff;
      padding: 15px 60px;
      font-size: 24px;
      line-height: 24px;
      margin-top: 10px;
      color: #fff;
      transition: all .8s;
      -webkit-transition: all .8s; }
      #header #banner-text button:hover {
        background: rgba(206, 22, 34, 0.7); }
      @media (min-width: 768px) {
        #header #banner-text button {
          margin-top: 50px; } }
  #header .scroll {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    margin: 0; }
    @media (min-width: 768px) {
      #header .scroll {
        bottom: 20px; } }

.content-area {
  text-align: center;
  color: #000;
  padding: 80px 0; }
  .content-area h1 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px; }
    .content-area h1 strong {
      font-weight: 400; }
  .content-area h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px; }
  .content-area p {
    font-size: 16px;
    margin-bottom: 25px; }
  .content-area form input, .content-area form select, .content-area form textarea {
    width: 100%;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 300; }
    .content-area form input::-webkit-input-placeholder, .content-area form select::-webkit-input-placeholder, .content-area form textarea::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #000;
      font-weight: 300; }
    .content-area form input:-moz-placeholder, .content-area form select:-moz-placeholder, .content-area form textarea:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #000;
      opacity: 1;
      font-weight: 300; }
    .content-area form input::-moz-placeholder, .content-area form select::-moz-placeholder, .content-area form textarea::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #000;
      opacity: 1;
      font-weight: 300; }
    .content-area form input:-ms-input-placeholder, .content-area form select:-ms-input-placeholder, .content-area form textarea:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #000;
      font-weight: 300; }
    .content-area form input#submit, .content-area form select#submit, .content-area form textarea#submit {
      background: #ce1622;
      border: 1px solid #000;
      color: #fff;
      transition: all .8s;
      -webkit-transition: all .8s; }
      .content-area form input#submit:hover, .content-area form select#submit:hover, .content-area form textarea#submit:hover {
        background: none;
        color: #000; }
  .content-area form textarea {
    min-height: 250px; }

hr {
  margin: 0;
  border-top: 1px solid #000; }

#services #bumperrepair {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/bumperpod.jpg"); }
#services #dentremoval {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/dentpod.jpg"); }
#services #trimanddash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/trimpod.jpg"); }
#services #alloywheel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/alloypod.jpg"); }
#services #leatherupholstery {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/leatherpod.jpg"); }
#services #glasschips {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/glasschip.jpg"); }
#services .servicepod {
  background-size: cover;
  padding: 100px 0;
  text-align: center; }
  #services .servicepod p {
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
    color: #fff; }
  #services .servicepod button {
    background: none;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 15px 60px;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    -webkit-transition: all .8s;
    transition: all .8s; }
    #services .servicepod button:hover {
      background: rgba(206, 22, 34, 0.6); }

#testimonials .testimonial {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-top: 30px; }
#testimonials .testimonial-author {
  font-size: 18px;
  font-weight: 700; }

#callbanner {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/callbanner.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 80px 0; }
  @media (min-width: 992px) {
    #callbanner {
      padding: 160px 0; } }
  #callbanner button {
    border-radius: 30px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    margin-top: 40px; }
    #callbanner button p {
      margin: 0 0 5px 0;
      font-size: 24px;
      line-height: 24px;
      font-weight: 300; }
      #callbanner button p span {
        font-weight: 400;
        font-size: 18px; }
      #callbanner button p#emailaddress {
        font-size: 16px; }

#footer {
  background: #0b0b0b;
  padding: 80px 0;
  text-align: center; }
  #footer ul.footernav {
    padding: 0;
    margin: 40px 0; }
    #footer ul.footernav li {
      display: inline-block;
      font-size: 18px;
      font-weight: 100;
      margin: 0 20px; }
      #footer ul.footernav li a {
        color: #fff; }
  #footer p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0; }

.innerheader {
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
  text-align: center; }
  @media (min-width: 992px) {
    .innerheader {
      padding: 200px 0; } }
  .innerheader h2 {
    font-weight: 300;
    color: #fff;
    font-size: 40px; }
    @media (min-width: 768px) {
      .innerheader h2 {
        font-size: 52px; } }
    .innerheader h2 strong {
      font-weight: 400; }
  .innerheader#aboutheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/about-banner.jpg"); }
  .innerheader#serviceheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/service-banner.jpg"); }
  .innerheader#contactheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact-banner.jpg");
    background-position: bottom right; }
    @media (min-width: 768px) {
      .innerheader#contactheader {
        background-position: bottom 380px right -440px; } }

#service-strips .service-strip {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  font-size: 16px;
  color: #fff; }
  @media (min-width: 992px) {
    #service-strips .service-strip {
      padding: 120px 0; } }
  #service-strips .service-strip h2 {
    font-size: 52px;
    font-weight: 100;
    margin: 0; }
  #service-strips .service-strip button {
    background: rgba(206, 22, 34, 0.4);
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 18px;
    margin-top: 10px;
    color: #fff;
    transition: all .8s;
    -webkit-transition: all .8s; }
    #service-strips .service-strip button:hover {
      background: rgba(206, 22, 34, 0.7); }
  #service-strips .service-strip#bumperrepair {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/bumper-strip.jpg"); }
  #service-strips .service-strip#dentremoval {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/dent-strip.jpg"); }
  #service-strips .service-strip#trimanddash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/trim-strip.jpg"); }
  #service-strips .service-strip#alloywheel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/alloy-strip.jpg"); }
  #service-strips .service-strip#leatherupholstery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/leather-strip.jpg"); }
  #service-strips .service-strip#glasschips {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/glasschip-strip.jpg"); }

#contactsection p.contactdetail {
  font-size: 24px;
  font-weight: 300; }
  #contactsection p.contactdetail strong {
    font-weight: 400; }

/*# sourceMappingURL=user.css.map */
